{% extends 'app.twig' %}

{% block content %}
    Status: {{ status }}!

    <form action="{{ url_for('user.create') }}" action="" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="email" name="email" placeholder="email">
    <input type="submit">
    </form>
{% endblock %}
